@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9a67d;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF5733;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF5733;
}
body {
  font-family: "Red Hat Text", sans-serif; /* Use RedHatText font for all text */
}
.imgabc {
  display: block;
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .imgabc {
    display: none;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet-active {
background: #FF5733;
}

.swiper-container {
  overflow: visible;
}
